* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.BookContainer {
  display: flex;
  align-items: center;
  margin: 0 6.2rem 2rem;
  padding: 2rem 1.65rem;
  background-color: white;
  border: solid 1px #e8e8e8;
}

.data {
  flex: 1.5;
}

.title {
  font-family: var(--roboto);
  font-size: 1.375rem;
  color: var(black);
}

.author {
  font-family: var(--roboto);
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.type {
  font-family: var(--monstserrat);
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--gray);
}

.buttons {
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
}

.buttons li {
  list-style: none;
}

.actionBton {
  cursor: pointer;
  font-family: var(--roboto);
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  background: none;
  border: none;
}

.bookTrack {
  flex: 1;
}

.bookPercentage {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bookPercentData h3 {
  font-family: var(--monstserrat);
  font-size: 2rem;
  font-weight: 400;
  color: var(--black);
}

.bookPercentData p {
  font-family: var(--monstserrat);
  font-size: 0.875rem;
  color: var(--gray);
}

.bookRead {
  flex: 1;
  border-left: solid 1px #e8e8e8;
  padding-left: 4rem;
}

.bookRead p {
  font-family: var(--roboto);
  font-size: 0.813rem;
  font-weight: 300;
  color: var(--gray);
}

.bookRead h3 {
  font-family: var(--roboto);
  font-size: 1rem;
  font-weight: 300;
  color: var(--black);
  margin-top: 0.3rem;
}

.updateBtn {
  font-family: var(--roboto);
  font-size: 0.813rem;
  font-weight: 300;
  color: #fff;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border: none;
  border-radius: 3px;
  background-color: var(--blue);
  margin-top: 1.3rem;
}
